* {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.95;
}

/* .screen {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#clock {
  font-size: 150px;
}

#greeting {
  font-size: 80px;
}
